body {

}

.player_holder {
  width: 100%;
 text-align: center;
}

.player {
  float: inherit;
  display: inline-block;
  width:320px;
  height:240px;
  background-color: grey;

}

.stream_box{
  padding: 30px;
  margin:50px;
  width:400px;
   display: inline-block;

}
